.navbar {
  background: var(--supporting5);
  /* background: linear-gradient(
    rgba(94, 156, 174, 0.7),
    rgba(255, 255, 255, 0.6)
  ); */
}

.logo-btn {
  background: transparent;
  border: none;
  outline: none;
}
.logo-btn:hover {
  cursor: pointer;
}
.logo-icon {
  color: var(--logoTypeBlue);
  font-size: 1.5rem;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

.logo-img {
  height: 5rem;
  padding: 0.5rem;
}

.nav-links {
  list-style-type: none;
  transition: var(--mainTransition);
  height: 0;
  padding-bottom: 0.5rem;
  overflow: hidden;
}
.show-nav {
  height: 216px;
}
.nav-links a {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--logoTypeBlue);
  transition: var(--mainTransition);
  font-weight: bold;
  letter-spacing: var(--mainSpacing);
  font-size: 1.25rem;
}
.nav-links a:hover {
  color: var(--navigationBlue);
}
.nav-social-links {
  display: none;
}

@media screen and (min-width: 992px) {
  .navbar {
    padding: 0 2rem;
  }

  .logo-btn {
    display: none;
  }
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo-img {
    height: 7rem;
    padding: 1rem;
  }

  .nav-links {
    height: auto;
    display: flex;
    font-family: "MyriadBold";
  }
  .nav-links a {
    font-size: 2rem;
  }
  .nav-social-links {
    display: flex;
    line-height: 0;
  }
  .nav-social-links a {
    color: var(--logoTypeBlue);
    margin: 0 0.5rem;
    font-size: 2rem;
    transition: var(--mainTransition);
  }
  .nav-social-links a:hover {
    color: var(--navigationBlue);
    transform: translateY(-5px);
  }
}
