.center {
  width: 80vw;
  margin: 0 auto;
}

.trails {
  padding: 4rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-column-gap: 2rem;
}

.map {
  height: 20rem;
}

.trail {
  margin: 2rem 0;
}

.details {
  margin-bottom: 1rem;
}
