@font-face {
  font-family: Myriad;
  src: url("../fonts//Myriad_Pro.ttf");
}
@font-face {
  font-family: MyriadBold;
  src: url("../fonts//Myriad_Bold.ttf");
}
@font-face {
  font-family: MyriadLight;
  src: url("../fonts//Myriad_Light.otf");
}

:root {
  --logoTypeRed: #c60c30;
  --logoTypeBlue: #002f5f;
  --navigationGreen: #496c60;
  --navigationBlue: #5482ab;
  --navigationGrey: #51626f;
  --accentOrange: #e98300;
  --accentYellow: #fecb00;
  --accentBlue: #0073cf;
  --mainWhite: #fff;
  --mainBlack: #000;
  --regimentGreen: #5b6334;
  --supporting1: #96a797;
  --supporting2: #879637;
  --supporting3: #90986b;
  --supporting4: #739abc;
  --supporting5: #5e9cae; /*RAF Ensign Blue*/
  --supporting6: #7d9aaa;
  --supporting7: #5e6a71;
  --supporting8: #89687c;
  --supporting9: #773141;
  --mainSpacing: 1px;
  --mainTransition: all 0.3s linear;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "MyriadLight", sans-serif;
  color: var(--mainBlack);
  font-size: 1rem;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3 {
  font-family: "MyriadBold", sans-serif;
  margin-bottom: 1.25rem;
}

h4,
h5,
h6 {
  font-family: "MyriadLight", sans-serif;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
